.splash-container
  width: 100%
  height: 88%
  position: fixed
  z-index: 1
  overflow: hidden
  top: 0
  left: 0
  background-color: $blue-light

.splash
  width: 80%
  height: 50%
  margin: auto
  position: absolute
  top: rem(100)
  left: 0
  bottom: 0
  right: 0
  text-align: center
  text-transform: lowercase
  color: $gray-light

.splash-head
  border: 1px solid $gray-light
  border-radius: rem(5)
  font-size: rem(26)
  padding: rem(10) rem(15)


.content-wrapper
  position: absolute
  top: 88%
  background-color: $cream
  z-index: 2